.webix_hcell{
 	font-size:0.8rem;
	font-weight:bold;
 	border-left:1px solid #cccccc;
 	text-align:center;
 	border-bottom:1px solid #cccccc;
}

.webix_column{
	font-size:0.8rem;
    border-left:1px solid #cccccc;
}

.custom_webix_marker{
  	background:#ffd;
}

.custom_webix_ellipsis div{
	text-overflow: ellipsis;
}

.custom_webix_imgCenter div{
	text-align: center;
	padding: 0;
}

.custom_webix_imgCenter img{
	vertical-align: middle;
}

.custom_webix_center {
	text-align: center;
}

.custom_webix_editable {
	background: #EBF7FF;
	color: #0000ff; 
}

.custom_webix_contextMenu a{
	color: #475466; 
}

.custom_webix_disabled {
	background-color: #ebebeb; 
}

.webix_datatable_hover{
  	background: #EAEAEA;
}

.webix_non_editable{
  	background: #F6E3CE;
  	color: #FE2E2E;
}
